#basicos{
	margin-top:50px;
	position:relative;
}
#basicos img{
	width:100%;
	height:100%;
}
#basicos  .introduccion{
	position:absolute;
	bottom:6%;
	color:#fff;
	text-align: left;
}
#basicos h3{
	font-size:40px;
}
@media (min-width: 768px){
	#basicos{
		height:300px;
		overflow:hidden;
	}
	#basicos img{
		height:auto;
		margin-top: -100px
	}
}
